<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-notes-mi-heading" jhiTranslate="ministeringApp.notes.home.createOrEditLabel">Create or edit a Notes</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!notes.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="notes.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ministeringApp.notes.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="notes.type" id="field_type"  required>
                        <option value="INDIVIDUAL">{{'ministeringApp.NoteType.INDIVIDUAL' | translate}}</option>
                        <option value="COMPANIONSHIP">{{'ministeringApp.NoteType.COMPANIONSHIP' | translate}}</option>
                        <option value="FAMILY">{{'ministeringApp.NoteType.FAMILY' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ministeringApp.notes.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="notes.note" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
